server {
            listen   80;
            server_name <%= ENV['PUPILFIRST_HOST_FQDN'] %> www.<%= ENV['PUPILFIRST_HOST_FQDN'] %>;

            proxy_set_header   X-Real-IP  $remote_addr;
            proxy_set_header   X-FORWARDED-PROTO http;

            #access_log /var/log/diaspora/access.log;
            #error_log /var/log/diaspora/error.log;

            root   /usr/share/pupilfirst/public/;
            index  index2.html;

            if ($http_user_agent ~* Googlebot) {
                return 403;
            }

	    location /uploads/images {
	      expires 1d;
	      add_header Cache-Control public;
	    }

            location /assets {
              expires 1d;
              add_header Cache-Control public;
            }

            location / {
                          proxy_set_header X-Real-IP $remote_addr;
                          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                          proxy_set_header Host $http_host;
                          proxy_set_header X-Forwarded-Proto http;
                          proxy_redirect off;

                          client_max_body_size 4M;
                          client_body_buffer_size 128K;

                          if (-f $request_filename/index.html) {
                                           rewrite (.*) $1/index.html break;
                          }

                          if (-f $request_filename.html) {
                                           rewrite (.*) $1.html break;
                          }

                          if (!-f $request_filename) {
                                           proxy_pass http://localhost:3000;

                                           break;
                          }
            }

	if ($http_user_agent ~ "Python-urllib" ) {
		return 403;
	}

	if ($http_user_agent ~ "libwww-perl" ) {
		return 403;
	}

	error_page 500 502 503 504  /50x.html;
	location = /50x.html {
		root  /usr/share/pupilfirst;
	}
}
